<!DOCTYPE html>
<html>
    <head>
      <title>MAIL PRICE!!!!</title>
      <link rel="stylesheet" href="/stylesheets/style.css"/>
    </head>
    
    <body>
        <h2>Mail Price!</h2>
      
        <p class="mainTextBox blueBack">
            Purchase info:<br><br>
            Weight: <%= weight %> oz.<br>
            Mail Type: <%= mailType %><br><br>
            Price: $<%= price %><br>
        </p>
       
    </body>
</html>